# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local env files (已取消忽略，允许提交脱敏的环境配置模板)
# .env
# .env.*
# !.env.example

# Local private env files (本地私有真实配置，禁止提交)
*.local
.env.local
.env.*.local


# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# System
.DS_Store
Thumbs.db

# Test coverage
coverage
*.lcov

# Build
*.tsbuildinfo
